@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  font-size: 22px; }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0px; }
    @media (max-width: 767px) {
        p {
          font-size: 15px; } }
          nav{
            width: 100%;
            position: sticky !important;
            left: 0;
            top: 0;
            box-shadow: 0px 5px 8 px rgba(0,0,0,.5);
            z-index: 999;
            background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
            font-size: 1.2rem;
        }
nav{
    width: 100%;
    position: sticky !important;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    z-index: 10;
}
.navbar-brand{
    font-weight: 600;
}
.nav-link{
    color: white !important; 
    border-bottom: 1px solid transparent;
}
.nav-link:hover{
    border-bottom: 1px solid white;

}
section{
    width: 100%;
    min-height: 100vh;
     padding: 100px 0;
    
    
}
/* Home section */
#home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.6)),url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
}
#home h4{
    position: absolute;
    top: 300px;
    font-size: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
   
    color:burlywood;
}
#home h1{
    position: absolute;
    color:whitesmoke;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 15px;
    top:350px;
}
#home p{
    position: absolute;
    padding-bottom: 15px;
    top: 415px;
    
    font-size: 22px;
}
.h4,h4{
    font-size: 1.5rem;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

/*About section */
.title{
    color: #000;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* services section styling */
.services{
    background:#fff ;
    color: #000;
    
}
.services .title::before,
.teams .title::before{
    background: transparent;
}

.services .serv-content .card{
    width: calc(33% - 20px);
    background: #fff;
    border: 1px solid #eceff8;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #32333c;
    display: block;
    text-align: center!important;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: burlywood;
    transition: color 0.3s ease;
}

.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



/* skills section styling */

.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background:burlywood;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid burlywood;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: burlywood;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: burlywood;
}
.skills-content .right .html::before{
    width: 70%;
}
.skills-content .right .css::before{
    width: 50%;
}
.skills-content .right .js::before{
    width: 40%;
}
.skills-content .right .php::before{
    width: 40%;
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* contact section styling */
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
}

#contact{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: burlywood;
  }
  
  #img{
    width: 500px;
    height: 300px;
  }


  /* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(240, 115, 32);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


















